include header
div
    h2 #{services[0]['service']}
    img(
        src = 'images/' + services[0]['image'],
        width = '150',
        height = '200'
    )
    p #{services[0]['price']} RUB