include Header
div(style='margin-bottom: 3rem')
    div
        p1 Личный кабинет
    div
        a(href='lk')
            button(
                style = 'size: 50%, magrin-bottom: 1rem'
            ) войти
